<h1>Welcome to Parrot Palace!</h1>
<p>Do you find yourself worrying about your beloved feathered friend sitting at home all day while you're at work, sadly chattering to no one and looking out the window wondering when the family is coming back home?</p>
<p>Here at Parrot Palace, we know how much you care about your birds! We provide daytime birdie daycare, as well as bird boarding for longer adventures. We're a team of avian fanatics who know how best to care for and provide companionship for your birdie buddies.</p>
<p>Interested in enrolling your pet in our daycare? <%= link_to "Visit our signup page", birds_index_path %> to get started!</p>
